@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-block-start: 90px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  color: #111111;
  padding-top: 50px;
}

h1 {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-weight: 900;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 2.6rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #111111;
  display: inline-block;
}

li {
  list-style: none;
}

.contenedor {
  max-width: 1100px;
  width: 94%;
  margin: 0 auto;
}

.header {
  background-image: url(../img/imagen-inicio.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.header .header__barra {
  background-color: white;
  position: fixed;
  width: 100%;
  margin-top: -50px;
  z-index: 2;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}
.header .header__barra .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__barra .contenedor .header__logo img {
  height: 10vh;
  margin-top: 1rem;
}
.header .header__barra .contenedor .header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
@media (min-width: 768px) {
  .header .header__barra .contenedor .header__nav {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    box-shadow: unset;
    transition: unset;
  }
}
.header .header__barra .contenedor .header__nav .navegacion__link {
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.5s;
  position: relative;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .header .header__barra .contenedor .header__nav .navegacion__link {
    margin-top: 0;
    margin-right: 2rem;
  }
}
.header .header__barra .contenedor .header__nav .navegacion__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fe401e;
  width: 0%;
  height: 3px;
  border-top-right-radius: 5px;
  display: block;
  opacity: 0;
  transition: 0.5s;
}
.header .header__barra .contenedor .header__nav .navegacion__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fe401e;
  width: 0%;
  height: 3px;
  border-bottom-left-radius: 5px;
  display: block;
  opacity: 0;
  transition: 0.5s;
}
.header .header__barra .contenedor .header__nav .navegacion__link:hover {
  color: #fe401e;
}
.header .header__barra .contenedor .header__nav .navegacion__link:hover:before, .header .header__barra .contenedor .header__nav .navegacion__link:hover:after {
  width: 100%;
  opacity: 1;
}
.header .header__barra .contenedor .header__nav .navegacion__link:last-of-type {
  margin-right: 0;
  padding: 0 1rem;
  border: 2px #fe401e solid;
  border-radius: 5px;
  color: #fe401e;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .header .header__barra .contenedor .header__nav .navegacion__link:last-of-type {
    margin-bottom: 0;
  }
}
.header .header__barra .contenedor .header__nav .navegacion__link:last-of-type:hover:before, .header .header__barra .contenedor .header__nav .navegacion__link:last-of-type:hover:after {
  width: 0%;
}
.header .header__barra .contenedor .header__nav .navegacion__link:last-of-type:hover {
  color: white;
  background-color: #fe401e;
}
.header .header__barra .contenedor .header__nav-active {
  top: 0;
}
.header .header__barra .contenedor #nav__mobile-abrir {
  background-color: white;
  border: none;
  font-size: 3rem;
  color: #fe401e;
  margin-right: 2rem;
}
.header .header__barra .contenedor #nav__mobile-abrir:hover {
  cursor: pointer;
  color: #af230a;
}
.header .header__barra .contenedor #nav__mobile-abrir:focus {
  outline: none;
}
@media (min-width: 768px) {
  .header .header__barra .contenedor #nav__mobile-abrir {
    display: none;
  }
}
.header .header__barra .contenedor #nav__mobile-cerrar {
  background-color: white;
  border: none;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 3rem;
  color: #fe401e;
}
.header .header__barra .contenedor #nav__mobile-cerrar:hover {
  cursor: pointer;
  color: #af230a;
}
.header .header__barra .contenedor #nav__mobile-cerrar:focus {
  outline: none;
}
@media (min-width: 768px) {
  .header .header__barra .contenedor #nav__mobile-cerrar {
    display: none;
  }
}
.header .contenido-header {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header .contenido-header .contenido-header__titulo {
  font-size: 6rem;
  font-weight: 700;
  max-width: 800px;
  line-height: 1.4;
}

.cursos .cursos__lista {
  max-width: 650px;
}
.cursos .cursos__lista .cursos__item {
  border: 1px #ddd solid;
  border-radius: 10px;
  transition: 0.3s;
}
.cursos .cursos__lista .cursos__item:hover {
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.cursos .cursos__lista .cursos__item .cursos__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}
.cursos .cursos__lista .cursos__item .cursos__header:hover {
  color: #fe401e;
}
.cursos .cursos__lista .cursos__item .cursos__header:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 2rem;
}
.cursos .cursos__lista .cursos__item .cursos__header-active {
  color: #fe401e;
}
.cursos .cursos__lista .cursos__item .cursos__header-active:after {
  content: "";
}
.cursos .cursos__lista .cursos__item .cursos__info {
  margin: 0 2rem 0rem 2rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.cursos .cursos__lista .cursos__item .cursos__info-active {
  opacity: 1;
  padding: 1rem 0;
  max-height: 500px;
  border-top: 1px #fe401e solid;
}
.cursos .cursos__lista .cursos__item-active {
  margin-bottom: 1rem;
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.contacto {
  background-image: url(../img/imagen-contacto.jpg);
  background-position: center center;
  background-size: cover;
  padding: 3rem 0;
  margin-top: 4.4rem;
  min-height: 500px;
}
.contacto .contacto__info {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  padding: 2rem 3rem;
  max-width: 556px;
}
.contacto .contacto__info .formulario-contacto {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}
.contacto .contacto__info .formulario-contacto label {
  color: rgba(255, 0, 0, 0.726);
  margin-top: -4px;
  font-size: 1.4rem;
  padding-left: 10px;
}
.contacto .contacto__info .formulario-contacto .formulario__input, .contacto .contacto__info .formulario-contacto .formulario__textarea {
  border: none;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 4px;
  width: 100%;
}
.contacto .contacto__info .formulario-contacto .formulario__input:focus, .contacto .contacto__info .formulario-contacto .formulario__textarea:focus {
  outline: none;
  border-bottom: 3px solid #fe401e;
}
.contacto .contacto__info .formulario-contacto .formulario__textarea {
  height: 200px;
  resize: none;
}
.contacto .contacto__info .formulario-contacto .formulario__enviar {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 1rem;
  width: 90px;
  font-size: 1.6rem;
  border: none;
  background-color: #fe401e;
  color: white;
  font-weight: 700;
}
.contacto .contacto__info .formulario-contacto .formulario__enviar:focus {
  outline: none;
  background-color: #af230a;
}
.contacto .contacto__info .formulario-contacto .formulario__enviar:hover {
  cursor: pointer;
  background-color: #af230a;
}

.comprar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 154, 71, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.comprar .contenedor__compra {
  max-width: 95%;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  border-radius: 10px;
  margin-top: -150%;
  padding: 1rem 2rem;
  transition: all ease-in-out 0.3s;
}
.comprar .contenedor__compra #comprar-cerrar, .comprar .contenedor__compra .compra__boton {
  border: none;
  position: absolute;
  font-size: 2rem;
  background: none;
}
.comprar .contenedor__compra #comprar-cerrar:focus, .comprar .contenedor__compra .compra__boton:focus {
  outline: none;
}
.comprar .contenedor__compra #comprar-cerrar:hover, .comprar .contenedor__compra .compra__boton:hover {
  cursor: pointer;
}
.comprar .contenedor__compra #comprar-cerrar {
  left: -40px;
  top: -20px;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 576px) {
  .comprar .contenedor__compra #comprar-cerrar {
    left: 10px;
    top: -40px;
  }
}
.comprar .contenedor__compra .compra__boton {
  padding: 1rem 1.6rem;
  font-weight: 700;
}
.comprar .contenedor__compra .compra__boton:nth-of-type(2) {
  bottom: 1.4rem;
  left: 15%;
  color: #fe401e;
  padding: 0.8rem 1.6rem;
  border: 2px solid #fe401e;
}
.comprar .contenedor__compra .compra__boton:nth-of-type(2):hover {
  color: #af230a;
  border-color: #af230a;
}
.comprar .contenedor__compra .compra__boton:nth-of-type(2):before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  padding-right: 0.6rem;
}
@media (max-width: 576px) {
  .comprar .contenedor__compra .compra__boton:nth-of-type(2) {
    left: 5%;
  }
}
.comprar .contenedor__compra .compra__boton:nth-of-type(3) {
  bottom: 1.4rem;
  right: 15%;
  color: #fff;
  background-color: #fe401e;
}
.comprar .contenedor__compra .compra__boton:nth-of-type(3):hover {
  background-color: #af230a;
}
.comprar .contenedor__compra .compra__boton:nth-of-type(3):after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  padding-left: 0.6rem;
}
@media (max-width: 576px) {
  .comprar .contenedor__compra .compra__boton:nth-of-type(3) {
    right: 5%;
  }
}
.comprar .contenedor__compra .contenedor__barra-progreso {
  width: 100%;
  padding: 3rem 7.5%;
  display: flex;
  justify-content: center;
}
.comprar .contenedor__compra .contenedor__barra-progreso .barra-progreso {
  width: 90%;
  height: 0.8rem;
  background-color: #dadada;
  display: flex;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.comprar .contenedor__compra .contenedor__barra-progreso .barra-progreso .dot {
  position: relative;
  height: 2.4rem;
  width: 2.4rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: #dadada;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s 0.3s;
  z-index: 2;
}
.comprar .contenedor__compra .contenedor__barra-progreso .barra-progreso .dot i {
  color: white;
  opacity: 0;
  transition: opacity 0.3s 0.3s;
}
.comprar .contenedor__compra .contenedor__barra-progreso .barra-progreso .dot-check {
  background-color: #2ecc71;
}
.comprar .contenedor__compra .contenedor__barra-progreso .barra-progreso .dot-check i {
  opacity: 1;
}
.comprar .contenedor__compra .contenedor__barra-progreso .barra-progreso .line {
  position: absolute;
  left: 0;
  width: 0px;
  height: 0.8rem;
  border-radius: 4px;
  background-color: #2ecc71;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.3);
  transition: width 0.5s ease-in-out;
  z-index: 1;
}
.comprar .contenedor__compra .contenedor__barra-progreso .barra-progreso .autito {
  position: absolute;
  z-index: 3;
  font-size: 3.2rem;
  color: #af230a;
  left: 0;
  margin-left: -5px;
  transition: transform 0.5s ease-in-out;
}
.comprar .contenedor__compra .compra__carousel {
  height: 500px;
  width: 100%;
  overflow: hidden;
}
.comprar .contenedor__compra .compra__carousel .formulario__compra {
  display: flex;
  padding-bottom: 4rem;
  width: 700px;
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .comprar .contenedor__compra .compra__carousel .formulario__compra {
    width: 500px;
  }
}
.comprar .contenedor__compra .compra__carousel .formulario__compra .compra__slide {
  flex: 0 0 100%;
}
.comprar .contenedor__compra .compra__carousel .formulario__compra .compra__slide h3 {
  padding-bottom: 0.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.comprar .contenedor__compra .compra__carousel .formulario__compra .compra__slide h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 5px;
  width: 155px;
  background-color: #fe401e;
  border-bottom-right-radius: 5px;
}
.comprar .contenedor__compra .compra__carousel .formulario__compra #compra__datosPersonales .compra__input {
  display: block;
  border: none;
  margin-top: 2.4rem;
  padding: 1rem;
  border-radius: 4px;
  width: 100%;
}
.comprar .contenedor__compra .compra__carousel .formulario__compra #compra__datosPersonales .compra__input:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid #fe401e;
}
.comprar .contenedor__compra .compra__carousel .formulario__compra #compra__cursos .compra__cursos-contenedor {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.comprar .contenedor__compra .compra__carousel .formulario__compra #compra__cursos .compra__cursos-contenedor label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  flex: 0 0 60%;
}
.comprar .contenedor__compra .compra__carousel .formulario__compra #compra__cursos .compra__cursos-contenedor .compra__precio {
  font-size: 2rem;
  font-weight: 700;
  flex: 0 0 40%;
  text-align: center;
}
.comprar .contenedor__compra-active {
  margin-top: 0;
  transition: all ease-in-out 0.5s 0.2s;
}

.comprar-active {
  visibility: visible;
  opacity: 1;
}

.footer {
  background-color: #222222;
  padding: 2rem 0;
}
.footer i {
  color: white;
}
.footer .footer__info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media (min-width: 576px) {
  .footer .footer__info {
    text-align: left;
    flex-direction: row;
  }
}
.footer .footer__info .footer__datos h3 {
  font-size: 1.8rem;
  font-weight: 700;
}
.footer .footer__info .footer__datos p {
  font-size: 1.4rem;
}
.footer .footer__info .footer__datos i {
  font-size: 1.8rem;
  margin-right: 1rem;
}
.footer .footer__media {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.footer .footer__media i {
  font-size: 2.4rem;
  margin: 0 1.6rem;
}
@media (min-width: 576px) {
  .footer .footer__media {
    margin-top: 0;
  }
}