// reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

// fuente y colores
$fuente: 'Lato', sans-serif;
$negro: #111111;
$blanco: #ffffff;
$naranja: #fe401e;
$naranjaOscuro: #af230a;

// ========
// GLOBALES
// ========

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-block-start: 90px;
}
body {
    font-family: $fuente;
    font-size: 1.8rem;
    line-height: 2;
    color: $negro;
    padding-top: 50px;
}

h1 {
    font-family: $fuente;
    color: $blanco;
    font-weight: 900;
}
h2 {
    font-family: $fuente;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: 1rem;
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        height: 5px;
        width: 210px;
        background-color: $naranja;
        border-bottom-right-radius: 5px;
    }
}
h3 {
    font-family: $fuente;
    font-size: 2.6rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $negro;
    display: inline-block;
}

li {
    list-style: none;
}

.contenedor {
    max-width: 1000px;
    width: 94%;
    margin: 0 auto;
}

// ======
// HEADER
// ======

.header {
    background-image: url(../img/imagen-inicio.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 100vh;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);        
    }

    .header__barra {
        background-color: white;
        position: fixed;
        width: 100%;
        margin-top: -50px;
        z-index: 2;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .5);

       .contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
            .header__logo img {
                height: 10vh;
                margin-top: 1rem;
            }
            .header__nav {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: fixed;
                top: -100%;
                left: 0;
                width: 100%;
                background: #ffffff;
                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .5);
                transition: .5s;
                @media (min-width: 768px) {
                    position: relative;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: auto;
                    box-shadow: unset;
                    transition: unset;
                    }
                    .navegacion__link {                      
                        font-size: 2rem;
                        font-weight: 700;
                        transition: all .5s;
                        position: relative;
                        margin-top: 1rem;
                        @media (min-width: 768px){
                            margin-top: 0;
                            margin-right: 2rem;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: $naranja;
                            width: 0%;
                            height: 3px;
                            border-top-right-radius: 5px;
                            display: block;
                            opacity: 0;
                            transition: .5s;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            background-color: $naranja;
                            width: 0%;
                            height: 3px;
                            border-bottom-left-radius: 5px;
                            display: block;
                            opacity: 0;
                            transition: .5s;
                        }
                        
                        &:hover {
                            color: $naranja;
                        }
                        &:hover:before,
                        &:hover:after {
                            width: 100%;
                            opacity: 1;
                        }
                        &:last-of-type {
                            margin-right: 0;
                            padding: 0 1rem;
                            border: 2px $naranja solid;
                            border-radius: 5px;
                            color: $naranja;
                            margin-bottom: 1rem;
                            @media (min-width: 768px) {
                                margin-bottom: 0;
                            }
                        }    
                        &:last-of-type:hover:before,
                        &:last-of-type:hover:after {
                            width: 0%;
                        }
                        &:last-of-type:hover {
                            color: white;
                            background-color: $naranja;
                        }                  
                    }
                    
            }
            .header__nav-active {
                top: 0;
            }
            #nav__mobile-abrir {
                background-color: white;
                border: none;
                font-size: 3rem;
                color: $naranja;
                margin-right: 2rem;
                &:hover {
                    cursor: pointer;
                    color: $naranjaOscuro;
                }
                &:focus {
                    outline:none;
                }
                @media (min-width: 768px) {
                    display: none;
                }
            }
            #nav__mobile-cerrar {
                background-color: white;
                border: none;
                position: absolute;
                top: 20px;
                left: 20px;
                font-size: 3rem;
                color: $naranja;
                &:hover {
                    cursor: pointer;
                    color: $naranjaOscuro;
                }
                &:focus {
                    outline:none;
                }
                @media (min-width: 768px) {
                    display: none;
                }
            }
        }
    }
    .contenido-header {
        position: relative;
        z-index: 1;
        padding-top: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        .contenido-header__titulo {
            font-size: 6rem;
            font-weight: 700;
            max-width: 800px;
            line-height: 1.4;
        }
    }
}
// ========
// NOSOTROS
// ========

.nosotros {
    margin-top: 4rem;
    p {
        max-width: 768px;
    }
}

// ======
// ELIGEN
// ======

.eligen {
    background-image: url(../img/imagen-eligen.jpg);
    background-position: center center;
    background-size: cover;
    margin-top: 5rem;
    padding: 4rem 0;

    .contenedor {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 2rem;
        border-radius: 16px;

        .contenedor__eligen {
            display: flex;
            justify-content: space-around;
            @media (max-width: 768px) {
                flex-wrap: wrap;
            }
            .item__eligen {
                text-align: center;
                background-color: white;
                margin: 1.6rem;
                border-radius: 10px;
                padding: 2rem;
                box-shadow: 4px 6px 6px 0 rgba(0, 0, 0, .3);
                transition: all .4s ease-in-out;
                p {
                    font-size: 1.6rem;
                }
                i {
                    margin: 1.6rem 0;
                    font-size: 4rem;
                    padding: 1rem;
                    transition: all .4s ease-in-out;
                }
                &:hover {
                    transform: scale(1.1);
                    i {
                        color: #2ecc71;
                    }
                }
            }
        }
    }
}

// ======
// CURSOS
// ======

.cursos {
    margin-top: 6rem;
    .cursos__lista {
        max-width: 768px;
        .cursos__item {
            border: 1px #ddd solid;
            border-radius: 10px;
            transition: .3s;
            &:hover {
                box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.2);
            }
            .cursos__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 2rem;
                margin: 0 1rem;
                position: relative;
                transition: all .3s;
                cursor: pointer;
                &:hover {
                    color: $naranja;
                }
                &:after {
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900; 
                    content: "\f103";
                    position: absolute;
                    top: 8px;
                    right: 20px;
                    font-size: 2rem;
                }
            }
            .cursos__info {
                margin: 0 1rem;
                padding: 0 2rem;
                max-height: 0;
                overflow: hidden;
                opacity: 0;
                transition: all .3s;  
                .cursos__precio {
                    font-weight: 700;
                    text-align: right;
                }
           }
        }
        .cursos__item-active {
            margin-bottom: 1rem;
            box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.2);
            .cursos__info {
                opacity: 1;  
                padding: 2rem;
                max-height: 500px;
                border-top: 1px $naranja solid;                
           }
           .cursos__header {
            color: $naranja;
            &:after {
                content: "\f102";
            }
            }
        }
    }
}

// ========
// CONTACTO
// ========

.contacto {
    background-image: url(../img/imagen-contacto.jpg);
    background-position: center center;
    background-size: cover;
    padding: 3rem 0;
    margin-top: 6rem;
    min-height: 500px;
    .contacto__info {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 16px;
        padding: 2rem 3rem;
        max-width: 556px;
        #formulario-contacto {
            margin: 2rem 0;
            display: flex;
            flex-direction: column;
            // label {
            //     color: rgba(255, 0, 0, 0.726);
            //     margin-top: -4px;
            //     font-size: 1.4rem;
            //     padding-left: 10px;
            // }
            .formulario__input, .formulario__textarea {
                border: none;
                margin-top: 1rem;
                padding: 1rem;
                border-radius: 4px;
                width: 100%;
                &:focus {
                    outline: none;
                    border-bottom: 3px solid $naranja;
                }
            }
            .formulario__textarea {
                height: 200px;
                resize: none;
            }
            #formulario__enviar {
                align-self: flex-end;
                margin-top: 1rem;
                padding: 1rem;
                width: 90px;
                font-size: 1.6rem;
                border: none;
                background-color: $naranja;
                color: white;
                font-weight: 700;
                &:focus {
                    outline: none;
                    background-color: $naranjaOscuro;
                }
                &:hover {
                    cursor: pointer;
                    background-color: $naranjaOscuro;
                }
            }
            small {
                color: #e74c3c;
                margin-left: 1rem;
            }
            .input-success {
                border: 3px solid #2ecc71;
            }
            .input-error {
                border: 3px solid #e74c3c;
            }
        }
    }
}

#modal__gracias {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgb(255, 154, 71, .7);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    div {
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        padding: 2rem;
        border: 3px #2ecc71 solid;
        border-radius: 10px;
        h3 {
            font-size: 3rem;
        }
        .autito-success {
            font-size: 3.2rem;
            margin-top: 1rem;
            color: #2ecc71;
            animation-name: autito-andar;
            animation-duration: .3s;
            animation-iteration-count: infinite;
        }
    }

}
// ==================
// FORMULARIO COMPRAR
// ==================

.comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 154, 71, .7);
    visibility: hidden;
    opacity: 0;
    transition: 1s;

    .contenedor__compra {  //modal de compra
        max-width: 95%;
        background-color: rgba(255, 255, 255, 0.9);
        position: relative;
        border-radius: 10px;
        margin-top: -150%;
        padding: 1rem 2rem;
        transition: all ease-in-out .5s .3s;

        #comprar-cerrar, .compra__boton {
            border: none;
            position: absolute;
            font-size: 2rem;
            background: none;
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: pointer;
            }
        }
        #comprar-cerrar {
            right: 15px;
            top: 15px;
            font-size: 3rem;
            font-weight: bold;
            color:  rgb(190, 190, 190);
        }
        .compra__boton {
            padding: 1rem 1.6rem;
            font-weight: 700;
            &:nth-of-type(2) {
                bottom: 1.4rem;
                left: 15%;
                color: $naranja;
                padding: .8rem 1.6rem;
                border: 2px solid $naranja;
                &:hover {
                    color: $naranjaOscuro;
                    border-color: $naranjaOscuro;
                }
                &:before {
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900; 
                    content: "\f100";
                    padding-right: .6rem;
                }
                @media (max-width: 576px) {
                    left: 5%;
                }
            }
            &:nth-of-type(3) {
                bottom: 1.4rem;
                right: 15%;
                color: #fff;
                background-color: $naranja;
                &:hover {
                    background-color: $naranjaOscuro;
                }
                &:after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f101";
                    padding-left: .6rem;
                }
                @media (max-width: 576px) {
                    right: 5%;
                }
            }
        }
        .compra__boton-confirmar {
            &:nth-of-type(3) {
                background-color: #2ecc71;
                &:hover {
                    background-color: #20a758;
                }
                &:after {
                    content: "\f00c";
                }
            }
        }
        .contenedor__barra-progreso {
            width: 100%;
            padding: 3rem 7.5%;
            display: flex;
            justify-content: center;
            .barra-progreso {
                width: 90%;
                height: .8rem;
                background-color: rgb(218, 218, 218);
                display: flex;
                border-radius: 4px;
                justify-content: space-between;
                align-items: center;
                position: relative;
                box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .3);
                
                .dot {
                    position: relative;
                    height: 2.4rem;
                    width: 2.4rem;
                    padding: 1rem;
                    border-radius: 50%;
                    background-color:rgb(218, 218, 218);
                    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .3);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: background-color .5s .3s;
                    z-index: 2;
                    i {
                        color: white;
                        opacity: 0;
                        transition: opacity .5s .3s;
                    }
                }
                
                .dot-check {
                    background-color: #2ecc71;
                    i {
                        opacity: 1;
                    }
                }
                .line {
                    position: absolute;
                    left: 0;
                    width: 0px;
                    height: .8rem;
                    border-radius: 4px;
                    background-color: #2ecc71;
                    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .3);
                    transition: width .8s ease-in-out;
                    z-index: 1;
                }
                .autito {
                    position: absolute;
                    z-index: 3;
                    font-size: 3.2rem;
                    color: $naranjaOscuro;
                    left: 0;
                    margin-left: -5px;
                    transition: all .8s ease-in-out;
                }
            }
        }
        
        // slider formulario
        .compra__carousel {
            min-height: 450px;
            width: 100%;
            overflow: hidden;
            .formulario__compra {
                display: flex;
                padding-bottom: 5rem;
                max-width: 700px;
                transition: transform .8s ease-in-out;
                @media (max-width: 768px) {
                    max-width: 500px;
                }
                .compra__slide {
                    flex: 0 0 100%;
                    h3 {
                        padding-bottom: .5rem;
                        position: relative;
                        margin-bottom: 1rem;
                        &::after {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            content: '';
                            height: 5px;
                            width: 155px;
                            background-color: $naranja;
                            border-bottom-right-radius: 5px;
                        }
                    }   
                }
                #compra__datosPersonales {
                    p {
                        margin-bottom: 1rem;
                    }
                    .compra__input {
                        display: block;
                        border: none;
                        // margin-bottom: 2.4rem;
                        padding: 1rem;
                        border-radius: 4px;
                        width: 100%;
                        &:focus {
                            border: none;
                            outline: none;
                            border-bottom: 3px solid $naranja;
                        }
                    }
                    input[type=number]::-webkit-inner-spin-button, 
                    input[type=number]::-webkit-outer-spin-button { 
                    -webkit-appearance: none; 
                    margin: 0; 
                    }
                    small {
                        color: #e74c3c;
                        margin-left: 1rem;
                    }
                    .input-success {
                        border: 3px solid #2ecc71;
                    }
                    .input-error {
                        border: 3px solid #e74c3c;
                    }
                }
                #compra__cursos {
                    .compra__cursos-contenedor {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        width: 100%;
                        label {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 2rem;
                            font-weight: 700;
                            flex: 0 0 65%;
                        }
                        .compra__precio {
                            font-size: 2rem;
                            font-weight: 700;
                            flex: 0 0 30%;
                            text-align: center;
                            opacity: .3;
                        }
                    }
                    #compra__cursos-error {
                        color: #e74c3c;
                        font-size: 1.4rem;
                    }
                }
                #compra__horarios {
                    #compra__horarios-error {
                        color: #e74c3c;
                        font-size: 1.4rem;
                    }
                    #horarios__manejo {
                        p {
                            font-weight: 700;
                        }
                        .contenedor__horarios-manejo {
                            display: flex;
                            div {
                                padding: .5rem 0;
                                flex-basis: 30%;
                            }
                        }
                    }

                    #horarios__teorico {
                        margin-top: 2rem;
                        p {
                            font-weight: 700;
                        }
                        .contenedor__horarios-teorico {
                            display: flex;
                            flex-wrap: wrap;
                            div {
                                flex-basis: 30%;
                                padding: .5rem 0;
                            }
                        }
                    }
                    .horarios-disabled {
                        opacity: 0.5;
                        input, label {
                            pointer-events: none;
                        }
                        &:hover {
                            cursor: not-allowed;
                        }
                    }
                }
                #compra__entrevista {
                    .contenedor__entrevista {
                        display: flex;
                        justify-content: space-between;
                        @media (max-width: 768px) {
                            display: block;
                        }
                        div {
                            flex-basis: 50%;
                            #entrevista-error {
                                color: #e74c3c;
                                font-size: 1.4rem;
                                font-weight: 700;
                            }
                        }
                        .calendly__btn {
                            align-self: center;
                            margin: 0 auto;
                            padding: .8rem 1.6rem;
                            font-weight: 700;
                            color: $blanco;
                            background-color:  $naranja;
                            font-size: 2rem;
                            &:hover {
                                background-color: $naranjaOscuro;
                            }
                            &:after {
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                                content: "\f073";
                                padding-left: .6rem;
                            }
                            @media (max-width: 768px) {
                                margin: 3rem auto;
                            }
                        }
                        .calendly__btn-success {
                            pointer-events: none;
                            background-color: #2ecc71;
                            &:after {
                                content: "\f274"
                            }
                        }
                    }
                }
                #compra__resumen {
                    .contenedor__resumen {
                        margin: 1.4rem 0;
                        padding: .5rem 0;
                        border-top: $naranja 3px solid;
                        border-bottom: $naranja 3px solid;
                        display: flex;
                        justify-content: space-between;
                        #resumen__datos, #resumen__servicios {
                            flex-basis: 45%;
                            font-weight: 700;
                        }
                        #resumen__servicios {
                            div {
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                    }
                    #resumen__precio {
                        font-weight: 900;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }

    #compra__modal-success {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 2rem 4rem;
        border-radius: 10px;
        width: 95%;
        max-width: 500px;
        visibility: hidden;
        opacity: 0;
        transition: all ease-in-out .6s 1s;
        h3 {
            font-size: 3rem;
            text-align: center;
        }
        .autito-success {
            color: #2ecc71;
            animation-name: autito-andar;
            animation-duration: .3s;
            animation-iteration-count: infinite;
        }
        span {
            font-weight: 700;
        }
        #compra__boton-success {
            display: block;
            text-align: center;
            border: none;
            font-size: 2rem;
            background-color: #2ecc71;
            padding: 1rem 1.6rem;
            font-weight: 700;
            color: white;
            margin: 1rem auto;
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: pointer;
                background-color: #20a758;
            }
        }
    }
}
.comprar-active {
    visibility: visible;
    opacity: 1;
    .contenedor__compra {
        margin-top: 0;
    }
}
.comprar-success {
    .contenedor__compra {
        margin-top: -150%;
    }
    #compra__modal-success {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes autito-andar {
    0% {transform: translateY(0px)}
    50% {transform: translateY(5px)}
    100% {transform: translateY(0px)}
}
// ======
// FOOTER
//=======

.footer {
    background-color: rgb(34, 34, 34);
    padding: 2rem 0;
    i {
        color: white;
        
    }
    .footer__info {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        @media (min-width: 576px) {
            text-align: left;
            flex-direction: row;
        }
        .footer__datos {
            h3 {
                font-size: 1.8rem;
                font-weight: 700;
            }
            p {
                font-size: 1.4rem;
            }
            i {
                font-size: 1.8rem;
                margin-right: 1rem;
            }
        }
    }
    .footer__media {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        i {
            font-size: 2.4rem;
            margin: 0 1.6rem;
        }
        @media (min-width: 576px) {
            margin-top: 0;
        }
    }
}